.bubble-background-wrap {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  overflow: hidden;
}

.bubble {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(252, 255, 255, 1);
  pointer-events: none; /* 設置 pointer-events 為 none，讓事件穿透 */
}

@keyframes animateBubble {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
.x1 {
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 5%;
  transform: scale(0.5);
}
.x2 {
  animation: animateBubble 15s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 35%;
  transform: scale(0.8);
}
.x3 {
  animation: animateBubble 19s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 75%;
  transform: scale(1.2);
}
.x4 {
  animation: animateBubble 23s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 35%;
  transform: scale(0.6);
}
.x5 {
  animation: animateBubble 16s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 55%;
  transform: scale(0.7);
}
.x6 {
  animation: animateBubble 15s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 0%;
  transform: scale(0.2);
}
.x7 {
  animation: animateBubble 22s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 90%;

  transform: scale(0.9);
}
.x8 {
  animation: animateBubble 19s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 85%;

  transform: scale(0.5);
}
.x9 {
  animation: animateBubble 17s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 65%;

  transform: scale(0.4);
}
.x10 {
  animation: animateBubble 15s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 45%;

  transform: scale(1.1);
}
@media screen and (max-width: 1161px) {
  .x1 {
    animation: animateBubble 40s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 5%;

    transform: scale(0.25);
  }
  .x2 {
    animation: animateBubble 35s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 15%;

    transform: scale(0.4);
  }
  .x3 {
    animation: animateBubble 29s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 45%;

    transform: scale(0.6);
  }
  .x4 {
    opacity: 0;
  }
  .x5 {
    opacity: 0;
  }
  .x6 {
    opacity: 0;
  }
  .x7 {
    opacity: 0;
  }
  .x8 {
    opacity: 0;
  }
  .x9 {
    opacity: 0;
  }
  .x10 {
    opacity: 0;
  }
}
